<div class="container">
    <div class="header-section">
        <div class="search">
            <img src="assets/pinchLogo.jpg" alt="Logo goes here">
            <input name="search">
            <button mat-button href="">Become a Contractor</button>
            <button mat-button href="">Sign Up/Login</button>
        </div>
        <div class="header-text">
            <h1>Pinch for Contractors</h1>
            <p>Pinch’s contractor profiles are for all types of contractors across a wide variety of specialties. Our comprehensive search features allow you to find projects suited to your specific interests and skillset, while also offering the opportunity to increase revenue with access to a wider selection of work. Included endorsement features also provide the opportunity to market your services to a larger audience.</p>
            <p>Pinch also offers project management features that allow you to easily keep track of your projects from start to finish on your own schedule. We understand the importance of small businesses and self-employed professionals, which is why you won’t work for us. Our goal is to provide a platform for you to expand your business while you remain your own boss.</p>
        </div>
    </div>
    <div class="info-section">
        <div class="form-container">
                <div class="form-column col1">
                    <mat-form-field appearance="outline">
                        <mat-label>Full Name</mat-label>
                        <input matInput name="fullname" required>
                    </mat-form-field>
                    <mat-form-field class="" appearance="outline">
                        <mat-label>Username</mat-label>
                        <input matInput name="username" required>
                    </mat-form-field>
                    <mat-form-field class="" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput name="email" required>
                    </mat-form-field>
                    <mat-form-field class="" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput type="password" name="password" required>
                    </mat-form-field>
                </div>
                <div class="form-column col2">
                    <mat-form-field appearance="outline">
                        <mat-label>Category</mat-label>
                        <select matNativeControl required>
                          <option value="">Category 1</option>
                          <option value="">Category 2</option>
                        </select>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Certifications</mat-label>
                        <select matNativeControl required>
                          <option value="">Cert 1</option>
                          <option value="">Cert 2</option>
                        </select>
                    </mat-form-field>
                    <mat-form-field class="" appearance="outline">
                        <mat-label>Postal Code</mat-label>
                        <input matInput name="postal" required>
                    </mat-form-field>
                    <mat-form-field class="" appearance="outline">
                        <mat-label>Business Name (optional)</mat-label>
                        <input matInput name="businessname">
                    </mat-form-field>
                </div>
        </div>
        <p>You must agree to the <a href="">Terms and Conditions</a> prior to registering for your account</p>
        <button mat-raised-button class="popular-button">SUBMIT</button>
    </div>
</div>
