<div class="container">
    <div class="home-section">
        <h1 class="home-text">Find your personal project professional here!</h1>
        <div class="home-box">
            <button mat-raised-button class="home-button">Landscaping</button>
            <button mat-raised-button class="home-button">Plumbing</button>
            <button mat-raised-button class="home-button">Kitchen Renovations</button>
            <button mat-raised-button class="home-button">Painting</button>
            <button mat-raised-button class="home-button">Gardening</button>
        </div>
    </div>
    <div class="featured-section">
        <div class="featured-title"><h2>FEATURED SERVICES</h2></div>
        <div class="featured-box">
            <div class="featured-item">
                <div class="featured-img featured-img01"></div>
                <div class="featured-text"><h4>PATIO RENOVATIONS</h4></div>
            </div>
            <div class="featured-item">
                <div class="featured-img featured-img02"></div>
                <div class="featured-text"><h4>LANDSCAPING</h4></div>
            </div>
            <div class="featured-item">
                <div class="featured-img featured-img03"></div>
                <div class="featured-text"><h4>KITCHEN RENOVATIONS</h4></div>
            </div>
        </div>
    </div>
    <div class="popular-section">
        <div class="popular-img">
            <h1 class="popular-text">Check out the most popular projects going on this season</h1>
            <button mat-raised-button class="popular-button">READ MORE</button>
        </div>
    </div>
    <div class="registration-section">
        <!-- <div class="registration-box"> -->
            <div class="registration-item">
                <div class="registration-img registration-img01">
                    <h1 class="registration-title">For Clients</h1>
                    <p class="registration-text">Are you a homeowner, tenant, or business owner trying to get that project done? Create your client profile now!</p>
                    <button mat-raised-button class="registration-button">GET STARTED</button>
                </div>
            </div>
            <div class="registration-item">
                <div class="registration-img registration-img02">
                    <h1 class="registration-title">For Contractors</h1>
                    <p class="registration-text">Are you a master of your trade or an aspiring professional looking for rewarding contracts? Create a contractor profile now!</p>
                    <button mat-raised-button class="registration-button">GET STARTED</button>
                </div>
            </div>
        <!-- </div> -->
    </div>
</div>