<div class="container-center-horizontal">
    <div class="home-screen screen">
        <div class="overlap-group">
            <img class="rectangle-23"
                src="https://anima-uploads.s3.amazonaws.com/projects/60eb3038207ed0cf97df777d/releases/60eb316f72899abafae73743/img/rectangle-23@1x.png" />
            <h1 class="text-1-1">Find your personal project professional here!</h1>
            <div class="search-bar">
                <div class="active">
                    <input class="text-1 valign-text-middle roboto-normal-black-16px" type="text" placeholder="What are you looking to have done?">
                    <p class="text-1 valign-text-middle roboto-normal-black-16px">What are you looking to have done?</p>
                    <img class="vector"
                        src="https://anima-uploads.s3.amazonaws.com/projects/60eb3038207ed0cf97df777d/releases/60eb316f72899abafae73743/img/vector@2x.svg" />
                </div>
            </div>
            <div class="base-chip">
                <div class="landscaping roboto-normal-white-13px">Landscaping</div>
            </div>
            <div class="base-chip-1">
                <div class="landscaping-1 roboto-normal-white-13px">Plumbing</div>
            </div>
            <div class="base-chip-2">
                <div class="landscaping-2 roboto-normal-white-13px">Kitchen Renovations</div>
            </div>
            <div class="base-chip-3">
                <div class="landscaping-3 roboto-normal-white-13px">Painting</div>
            </div>
            <div class="base-chip-4">
                <div class="landscaping-4 roboto-normal-white-13px">Gardening</div>
            </div>
            <div class="rectangle-26"></div>
            <p class="text-6">See the latest update on our COVID-19 response.</p>
            <img class="rectangle-17"
                src="https://anima-uploads.s3.amazonaws.com/projects/60eb3038207ed0cf97df777d/releases/60eb316f72899abafae73743/img/rectangle-17@2x.svg" />
            <div class="frame-76">
                <div class="search-bar-1">
                    <div class="active-1">
                        <p class="text-7 valign-text-middle">What are you looking to have done?</p>
                        <img class="vector"
                            src="https://anima-uploads.s3.amazonaws.com/projects/60eb3038207ed0cf97df777d/releases/60eb316f72899abafae73743/img/vector@2x.svg" />
                    </div>
                </div>
                <div class="group-75">
                    <div class="typography">
                        <div class="text roboto-normal-black-16px">Become a contractor</div>
                    </div>
                    <div class="typography-1">
                        <!-- <div class="text roboto-normal-black-16px">Sign up/ Log in</div> -->
                        <button mat-raised-button (click)="openDialog()">Sign up/ Log in</button>
                    </div>
                </div>
            </div>
            <img class="content-typeicon-variantcircle"
                src="https://anima-uploads.s3.amazonaws.com/projects/60eb3038207ed0cf97df777d/releases/60eb316f72899abafae73743/img/content-type-icon--variant-circle@2x.svg" />
        </div>
        <div class="overlap-group1">
            <div class="flex-col">
                <div class="featured-services roboto-normal-black-34px">Featured Services</div>
                <div class="card-1">
                    <div class="card-content">
                        <img class="card-media"
                            src="https://anima-uploads.s3.amazonaws.com/projects/60eb3038207ed0cf97df777d/releases/60eb316f72899abafae73743/img/cardmedia@2x.png" />
                    </div>
                    <div class="patio-renovations roboto-medium-black-14px">PATIO RENOVATIONS</div>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <img class="card-media-1"
                        src="https://anima-uploads.s3.amazonaws.com/projects/60eb3038207ed0cf97df777d/releases/60eb316f72899abafae73743/img/cardmedia-1@2x.png" />
                </div>
                <div class="landscaping-5 roboto-medium-black-14px">LANDSCAPING</div>
            </div>
            <div class="card">
                <div class="card-content-2">
                    <img class="card-media-2"
                        src="https://anima-uploads.s3.amazonaws.com/projects/60eb3038207ed0cf97df777d/releases/60eb316f72899abafae73743/img/cardmedia-2@2x.png" />
                </div>
                <div class="kitchen-renovations roboto-medium-black-14px">KITCHEN RENOVATIONS</div>
            </div>
        </div>
        <div class="card-2">
            <div class="card-content-3">
                <div class="text-3 roboto-normal-black-34px">Check out the most popular projects going on this season
                </div>
                <div class="base-button-1">
                    <div class="read-more roboto-medium-white-15px">READ MORE</div>
                </div>
            </div>
        </div>
        <div class="overlap-group2">
            <div class="card-3">
                <div class="card-content-1">
                    <div class="for-c roboto-normal-black-34px">For Clients</div>
                    <div class="text-1 roboto-normal-black-20px">
                        Are you a homeowner, tenant, or business owner trying to get that project done? Create your
                        client profile
                        now!
                    </div>
                    <div class="base-button">
                        <div class="get-started roboto-medium-white-15px">GET STARTED</div>
                    </div>
                </div>
            </div>
            <div class="card-4">
                <div class="card-content-1">
                    <div class="for-c roboto-normal-black-34px">For Contractors</div>
                    <div class="text-1 roboto-normal-black-20px">
                        Are you a master of your trade or an aspiring professional looking for rewarding contracts?
                        Create a
                        contractor profile now!
                    </div>
                    <div class="base-button">
                        <div class="get-started roboto-medium-white-15px">GET STARTED</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>