<div class="container-center-horizontal">
    <div class="log-in screen">
        <img class="custom-dialog-title"
            src="https://anima-uploads.s3.amazonaws.com/projects/60eb3038207ed0cf97df777d/releases/60f4a80c857b8a21a97c33a8/img/customdialogtitle@1x.svg" />
        <div class="dialog-content" mat-dialog-content>
            <div class="dialog-title">
                <div class="text-1">Log in to access Pinch</div>
                <p class="text-2 roboto-normal-white-16px">
                    <span class="span roboto-normal-black-16px-22">Don’t have an account? Create one </span><span
                        class="span1 roboto-medium-kashmir-blue-16px">here</span><span
                        class="span roboto-normal-black-16px-22">.</span>
                </p>
            </div>
            <div class="content">
                <div class="input border-2px-kashmir-blue">
                    <div class="active">
                        <div class="x valign-text-middle roboto-normal-black-16px2">Username</div>
                    </div>
                </div>
                <div class="input-1 border-2px-kashmir-blue">
                    <div class="active">
                        <div class="x-1 valign-text-middle roboto-normal-black-16px2">Password</div>
                    </div>
                </div>
            </div>
            <p class="text-3 roboto-normal-white-16px">
                <span class="span roboto-normal-black-16px-22">Forgot your password? Reset it </span><span
                    class="span1 roboto-medium-kashmir-blue-16px">here</span><span class="span2">.</span>
            </p>
        </div>
        <img class="divider"
            src="https://anima-uploads.s3.amazonaws.com/projects/60eb3038207ed0cf97df777d/releases/60f4a80c857b8a21a97c33a8/img/divider@1x.svg" />
        <div class="dialog-actions">
            <div class="cancel roboto-medium-kashmir-blue-14px">CANCEL</div>
            <div class="submit roboto-medium-kashmir-blue-14px">SUBMIT</div>
        </div>
    </div>
</div>