<div class="container-center-horizontal">
    <div class="cl-sign-up-screen screen" data-id="2:1458">
      <div class="overlap-group" data-id="an|K8fpXtLO">
        <div class="rectangle-26" data-id="2:1495"></div>
        <p class="text-1-1 roboto-normal-white-14px" data-id="2:1497">See the latest update on our COVID-19 response.</p>
      </div>
      <div class="flex-row" data-id="an|UOs72zYi">
        <div class="rectangle-17" data-id="3:80"></div>
        <div class="group-75" data-id="3:81">
          <div class="browse roboto-normal-black-16px2" data-id="3:83">Browse</div>
          <div class="typography-1" data-id="3:84">
            <div class="become-a-contractor roboto-normal-black-16px2" data-id="3:85">Become a contractor</div>
          </div>
          <div class="sign-up-log-in roboto-normal-black-16px2" data-id="3:87">Sign up/ Log in</div>
        </div>
        <div class="content-typeicon-variantcircle" data-id="3:88">
          <div class="filledtogglestar" data-id="3:89">
            <img
              class="vector"
              data-id="3:91"
              src="https://anima-uploads.s3.amazonaws.com/projects/60eb3038207ed0cf97df777d/releases/610dbb54ed597383daf12896/img/vector-3@2x.svg"
            />
          </div>
        </div>
      </div>
      <div class="flex-row-1" data-id="an|BX3k5aA5">
        <div class="flex-col" data-id="an|aEKCu2SB">
          <div class="search-bar" data-id="2:22272">
            <div class="active-1" data-id="2:22278">
              <div class="what-are-you-looking valign-text-middle" data-id="2:22282">Landscaping</div>
              <img
                class="vector-4"
                data-id="2:22283"
                src="https://anima-uploads.s3.amazonaws.com/projects/60eb3038207ed0cf97df777d/releases/60eb316f72899abafae73743/img/vector@2x.svg"
              />
            </div>
          </div>
          <div class="flex-row-2" data-id="an|iTC9SkQc">
            <div class="variantoutlined-x-icontextfalse" data-id="2:22222">
              <div class="active" data-id="2:22228">
                <div class="filters valign-text-middle roboto-normal-black-16px-22" data-id="2:22232">Filters</div>
                <div class="fillednavigatio-arrow-drop-down" data-id="2:22240">
                  <img
                    class="vector-1"
                    data-id="2:22241"
                    src="https://anima-uploads.s3.amazonaws.com/projects/60eb3038207ed0cf97df777d/releases/610dbb54ed597383daf12896/img/vector@2x.svg"
                  />
                </div>
              </div>
            </div>
            <div class="variantoutlined-x-icontextfalse-1" data-id="2:22161">
              <div class="active" data-id="2:22167">
                <div class="filters valign-text-middle roboto-normal-black-16px-22" data-id="2:22171">Sort by</div>
                <div class="fillednavigatio-arrow-drop-down" data-id="2:22179">
                  <img
                    class="vector-1"
                    data-id="2:22180"
                    src="https://anima-uploads.s3.amazonaws.com/projects/60eb3038207ed0cf97df777d/releases/610dbb54ed597383daf12896/img/vector@2x.svg"
                  />
                </div>
              </div>
            </div>
            <div class="typebasic-varia-ary-stateactive" data-id="2:1683">
              <div class="overlap-group1" data-id="an|RacIgzil">
                <div class="base-button-group" data-id="2:1684">
                  <div class="contractors" data-id="2:1686">CONTRACTORS</div>
                </div>
                <img
                  class="vertical"
                  data-id="2:1687"
                  src="https://anima-uploads.s3.amazonaws.com/projects/60eb3038207ed0cf97df777d/releases/610dbb54ed597383daf12896/img/vertical@2x.svg"
                />
                <img
                  class="vertical"
                  data-id="2:1688"
                  src="https://anima-uploads.s3.amazonaws.com/projects/60eb3038207ed0cf97df777d/releases/610dbb54ed597383daf12896/img/vertical@2x.svg"
                />
              </div>
              <div class="rfps" data-id="2:1691">RFPS</div>
            </div>
          </div>
        </div>
        <div class="search-bar-1" data-id="2:1472">
          <div class="active-2" data-id="2:1478">
            <div class="location valign-text-middle roboto-normal-black-16px-22" data-id="2:1482">Location</div>
            <img
              class="vector-5"
              data-id="2:1483"
              src="https://anima-uploads.s3.amazonaws.com/projects/60eb3038207ed0cf97df777d/releases/610dbb54ed597383daf12896/img/vector-5@2x.svg"
            />
          </div>
        </div>
      </div>
      <div class="flex-row-3" data-id="an|KlRhh2Vw">
        <div class="card-v1-1" data-id="2:1500">
          <div class="card-media" data-id="2:1501">
            <img
              class="image-1"
              data-id="2:1502"
              src="https://anima-uploads.s3.amazonaws.com/projects/60eb3038207ed0cf97df777d/releases/610dbb54ed597383daf12896/img/image-1@2x.png"
            />
          </div>
          <div class="card-header" data-id="2:1503">
            <div class="avatar" data-id="2:1505"></div>
            <div class="text" data-id="2:1506">
              <div class="name roboto-medium-black-20px" data-id="2:1508">John Doe-Smith</div>
              <div class="typography" data-id="2:1509">
                <div class="filledtogglestar" data-id="2:22135">
                  <img
                    class="vector"
                    data-id="2:22137"
                    src="https://anima-uploads.s3.amazonaws.com/projects/60eb3038207ed0cf97df777d/releases/610dbb54ed597383daf12896/img/vector-8@2x.svg"
                  />
                </div>
                <div class="text-1 roboto-normal-black-14px-2" data-id="2:1511">4.7</div>
                <div class="text-3 roboto-normal-black-16px-22" data-id="2:1513">Landscape Specialist</div>
              </div>
            </div>
            <img
              class="vector-2"
              data-id="2:1519"
              src="https://anima-uploads.s3.amazonaws.com/projects/60eb3038207ed0cf97df777d/releases/610dbb54ed597383daf12896/img/vector-9@2x.svg"
            />
          </div>
        </div>
        <div class="card-v1" data-id="2:1520">
          <div class="card-media" data-id="2:1521">
            <img
              class="pexels-lisa-1453499-1"
              data-id="2:1522"
              src="https://anima-uploads.s3.amazonaws.com/projects/60eb3038207ed0cf97df777d/releases/610dbb54ed597383daf12896/img/pexels-lisa-1453499-1@2x.png"
            />
          </div>
          <div class="card-header" data-id="2:1523">
            <div class="avatar-1" data-id="2:1525"></div>
            <div class="text" data-id="2:1526">
              <div class="name roboto-medium-black-20px" data-id="2:1528">Chris Ewans</div>
              <div class="typography" data-id="2:1529">
                <div class="filledtogglestar" data-id="2:22131">
                  <img
                    class="vector"
                    data-id="2:22133"
                    src="https://anima-uploads.s3.amazonaws.com/projects/60eb3038207ed0cf97df777d/releases/610dbb54ed597383daf12896/img/vector-8@2x.svg"
                  />
                </div>
                <div class="text-1 roboto-normal-black-14px-2" data-id="2:1531">4.8</div>
                <div class="landscaper roboto-normal-black-16px-22" data-id="2:1533">Landscaper</div>
              </div>
            </div>
            <img
              class="vector-2"
              data-id="2:1539"
              src="https://anima-uploads.s3.amazonaws.com/projects/60eb3038207ed0cf97df777d/releases/610dbb54ed597383daf12896/img/vector-9@2x.svg"
            />
          </div>
        </div>
        <div class="card-v1" data-id="2:1540">
          <div class="card-media" data-id="2:1541">
            <img
              class="pexels-vivint-solar-2850347-1"
              data-id="2:1542"
              src="https://anima-uploads.s3.amazonaws.com/projects/60eb3038207ed0cf97df777d/releases/610dbb54ed597383daf12896/img/pexels-vivint-solar-2850347-1@2x.png"
            />
          </div>
          <div class="card-header" data-id="2:1543">
            <div class="avatar-2" data-id="2:1545"></div>
            <div class="text" data-id="2:1546">
              <div class="name roboto-medium-black-20px" data-id="2:1548">Jonathan Anderson</div>
              <div class="typography" data-id="2:1549">
                <div class="filledtogglestar" data-id="2:22127">
                  <img
                    class="vector"
                    data-id="2:22129"
                    src="https://anima-uploads.s3.amazonaws.com/projects/60eb3038207ed0cf97df777d/releases/610dbb54ed597383daf12896/img/vector-8@2x.svg"
                  />
                </div>
                <div class="text-1 roboto-normal-black-14px-2" data-id="2:1551">4.4</div>
                <div class="landscaper roboto-normal-black-16px-22" data-id="2:1553">Landscaper</div>
              </div>
            </div>
            <img
              class="vector-2"
              data-id="2:1559"
              src="https://anima-uploads.s3.amazonaws.com/projects/60eb3038207ed0cf97df777d/releases/610dbb54ed597383daf12896/img/vector-9@2x.svg"
            />
          </div>
        </div>
      </div>
      <div class="card" data-id="2:1560">
        <div class="card-media-1" data-id="2:1561">
          <img
            class="ronnie-george-z-13ro-unsplash-1"
            data-id="2:1562"
            src="https://anima-uploads.s3.amazonaws.com/projects/60eb3038207ed0cf97df777d/releases/610dbb54ed597383daf12896/img/ronnie-george-z11gbbo13ro-unsplash-1@2x.png"
          />
        </div>
        <div class="card-content-1" data-id="2:1563">
          <div class="text-4" data-id="2:1567">
            <div class="typography-2" data-id="2:1568">
              <div class="name-1 roboto-medium-black-20px" data-id="2:1569">Oliver Donaldson</div>
              <div class="landscape-artist roboto-normal-black-16px-22" data-id="2:1570">Landscape Artist</div>
            </div>
            <div class="typography-3" data-id="2:1571">
              <div class="sizesmall-statedefault-1" data-id="2:22101">
                <div class="filledtogglestar-1" data-id="2:22103">
                  <img
                    class="vector-3"
                    data-id="2:22105"
                    src="https://anima-uploads.s3.amazonaws.com/projects/60eb3038207ed0cf97df777d/releases/610dbb54ed597383daf12896/img/vector-14@2x.svg"
                  />
                </div>
                <div class="filledtogglestar-1" data-id="2:22107">
                  <img
                    class="vector-3"
                    data-id="2:22109"
                    src="https://anima-uploads.s3.amazonaws.com/projects/60eb3038207ed0cf97df777d/releases/610dbb54ed597383daf12896/img/vector-14@2x.svg"
                  />
                </div>
                <div class="star" data-id="2:22110"></div>
                <div class="filledtogglestar-1" data-id="2:22119">
                  <img
                    class="vector-3"
                    data-id="2:22121"
                    src="https://anima-uploads.s3.amazonaws.com/projects/60eb3038207ed0cf97df777d/releases/610dbb54ed597383daf12896/img/vector-16@2x.svg"
                  />
                </div>
                <div class="filledtogglestar-1" data-id="2:22123">
                  <img
                    class="vector-3"
                    data-id="2:22125"
                    src="https://anima-uploads.s3.amazonaws.com/projects/60eb3038207ed0cf97df777d/releases/610dbb54ed597383daf12896/img/vector-16@2x.svg"
                  />
                </div>
              </div>
              <div class="x-reviews roboto-normal-black-14px" data-id="2:1573">(57 Reviews)</div>
            </div>
          </div>
          <div class="card-content-2" data-id="2:1579">
            <p class="text-6 roboto-normal-black-14px" data-id="2:1581">
              Contractor descriptions, reviews, portfolios, or ratings would be written and presented here. You could
              write things like your experience in the field or your education in this space. This is where you would be
              able to best sell yourself and work to passing clients.
            </p>
          </div>
          <div class="left-actions" data-id="2:1583">
            <div class="read-more roboto-medium-kashmir-blue-14px" data-id="2:1587">READ MORE</div>
            <div class="get-in-touch roboto-medium-kashmir-blue-14px" data-id="2:1591">GET IN TOUCH</div>
          </div>
        </div>
      </div>
      <div class="flex-row-4" data-id="an|hwD4Sz3j">
        <div class="card-v2" data-id="2:1598">
          <div class="card-header-1" data-id="2:1600">
            <div class="avatar-3" data-id="2:1602"></div>
            <div class="text-2" data-id="2:1603">
              <div class="name roboto-medium-black-20px" data-id="2:1605">Steve Norman</div>
              <div class="typography-4" data-id="2:1606">
                <div class="text-7 roboto-normal-black-16px-22" data-id="2:1607">Landscape Specialist</div>
                <div class="sizesmall-statedefault" data-id="2:1608">
                  <div class="filledtogglestar-1" data-id="2:1610">
                    <img
                      class="vector-3"
                      data-id="2:1612"
                      src="https://anima-uploads.s3.amazonaws.com/projects/60eb3038207ed0cf97df777d/releases/610dbb54ed597383daf12896/img/vector-18@2x.svg"
                    />
                  </div>
                  <div class="filledtogglestar-1" data-id="2:1614">
                    <img
                      class="vector-3"
                      data-id="2:1616"
                      src="https://anima-uploads.s3.amazonaws.com/projects/60eb3038207ed0cf97df777d/releases/610dbb54ed597383daf12896/img/vector-18@2x.svg"
                    />
                  </div>
                  <div class="filledtogglestar-1" data-id="2:1618">
                    <img
                      class="vector-3"
                      data-id="2:1620"
                      src="https://anima-uploads.s3.amazonaws.com/projects/60eb3038207ed0cf97df777d/releases/610dbb54ed597383daf12896/img/vector-18@2x.svg"
                    />
                  </div>
                  <img
                    class="masked-star"
                    data-id="2:1622"
                    src="https://anima-uploads.s3.amazonaws.com/projects/60eb3038207ed0cf97df777d/releases/610dbb54ed597383daf12896/img/maskedstar-1@2x.svg"
                  />
                  <div class="filledtogglestar-1" data-id="2:1630">
                    <img
                      class="vector-3"
                      data-id="2:1632"
                      src="https://anima-uploads.s3.amazonaws.com/projects/60eb3038207ed0cf97df777d/releases/610dbb54ed597383daf12896/img/vector-21@2x.svg"
                    />
                  </div>
                </div>
                <div class="x-reviews roboto-normal-black-14px" data-id="2:1633">(12 Reviews)</div>
              </div>
            </div>
          </div>
          <div class="card-content" data-id="2:1639">
            <p class="address roboto-normal-black-14px" data-id="2:1641">
              15 years of garage door repair experience. Mostly operating in the Ottawa area. Happy to help repair,
              install, or remove garage doors, their rails, and their springs. I am also happy to source your new garage
              doors.
            </p>
          </div>
        </div>
        <div class="card-v2-1" data-id="2:1642">
          <div class="card-header-1" data-id="2:1644">
            <div class="avatar-4" data-id="2:1646">
              <img
                class="ellipse-54"
                data-id="2:1647"
                src="https://anima-uploads.s3.amazonaws.com/projects/60eb3038207ed0cf97df777d/releases/610dbb54ed597383daf12896/img/ellipse-54@2x.png"
              />
            </div>
            <div class="text-2" data-id="2:1648">
              <div class="name roboto-medium-black-20px" data-id="2:1650">Austin Krave</div>
              <div class="typography-5" data-id="2:1651">
                <div class="landscape-engineer roboto-normal-black-16px-22" data-id="2:1652">Landscape Engineer</div>
                <div class="sizesmall-statedefault" data-id="2:1653">
                  <div class="filledtogglestar-1" data-id="2:1655">
                    <img
                      class="vector-3"
                      data-id="2:1657"
                      src="https://anima-uploads.s3.amazonaws.com/projects/60eb3038207ed0cf97df777d/releases/610dbb54ed597383daf12896/img/vector-18@2x.svg"
                    />
                  </div>
                  <div class="filledtogglestar-1" data-id="2:1659">
                    <img
                      class="vector-3"
                      data-id="2:1661"
                      src="https://anima-uploads.s3.amazonaws.com/projects/60eb3038207ed0cf97df777d/releases/610dbb54ed597383daf12896/img/vector-18@2x.svg"
                    />
                  </div>
                  <div class="filledtogglestar-1" data-id="2:1663">
                    <img
                      class="vector-3"
                      data-id="2:1665"
                      src="https://anima-uploads.s3.amazonaws.com/projects/60eb3038207ed0cf97df777d/releases/610dbb54ed597383daf12896/img/vector-18@2x.svg"
                    />
                  </div>
                  <div class="filledtogglestar-1" data-id="2:1667">
                    <img
                      class="vector-3"
                      data-id="2:1669"
                      src="https://anima-uploads.s3.amazonaws.com/projects/60eb3038207ed0cf97df777d/releases/610dbb54ed597383daf12896/img/vector-18@2x.svg"
                    />
                  </div>
                  <div class="filledtogglestar-1" data-id="2:1671">
                    <img
                      class="vector-3"
                      data-id="2:1673"
                      src="https://anima-uploads.s3.amazonaws.com/projects/60eb3038207ed0cf97df777d/releases/610dbb54ed597383daf12896/img/vector-21@2x.svg"
                    />
                  </div>
                </div>
                <div class="x-reviews roboto-normal-black-14px" data-id="2:1674">(15 Reviews)</div>
              </div>
            </div>
          </div>
          <div class="card-content" data-id="2:1680">
            <p class="text-8 roboto-normal-black-14px" data-id="2:1682">
              Recently finished a two-year electrician apprenticeship and am looking to work on new and exciting projects.
              Operating mostly in the east end of the city but willing to travel around depending on the work.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
